@inject Libs.WowData wowData

<table class="table table-bordered">
    <tr>
        <th>X Coord:</th>
        <th>Y Coord:</th>
        <th>Bag Items:</th>
        <th>Health:</th>
        <th>Target:</th>
    </tr>
    <tr>
        <td>@wowData.PlayerReader.XCoord.ToString("0.00")</td>
        <td>@wowData.PlayerReader.YCoord.ToString("0.00")</td>
        <td> @wowData.bagReader.bagItems.Count</td>
        <td>@wowData.PlayerReader.HealthPercent % (@wowData.PlayerReader.HealthCurrent of  @wowData.PlayerReader.HealthMax)</td>
        <td>"@wowData.PlayerReader.Target" (@wowData.PlayerReader.TargetHealth of @wowData.PlayerReader.TargetMaxHealth)</td>
    </tr>
</table>

@code {
    protected override void OnInitialized()
    {

        wowData.AddonDataChanged += (o, e) =>
        {
            base.InvokeAsync(() => StateHasChanged());
        };
    }
}
