@page "/counter"
@inject Libs.WowData wowData
@inject Libs.GOAP.GoapAgent goapAgent
@inject Libs.BotController botController

<h1>Counter</h1>

<p>X Coord: @wowData.PlayerReader.XCoord.ToString("0.000")</p>
<p>Y Coord: @wowData.PlayerReader.YCoord.ToString("0.000")</p>

<p>HealthPercent: @wowData.PlayerReader.HealthPercent %</p>
<p>HealthMax: @wowData.PlayerReader.HealthMax</p>
<p>HealthCurrent: @wowData.PlayerReader.HealthCurrent</p>
<hr />
<p>Target: @wowData.PlayerReader.Target</p>
<p>Health: @wowData.PlayerReader.TargetHealth</p>
<p>Max Health @wowData.PlayerReader.TargetMaxHealth</p>

<table class="table table-sm table-striped" >
    @foreach (var action in goapAgent.AvailableActions)
    {
        <GoapActionView action=@action IsSelected="@(action==goapAgent.CurrentAction)" />
    }
</table>

<button class="btn btn-primary" @onclick="Start">Start Reading</button>

<button class="btn btn-primary" @onclick="ToggleBot">Toggle Bot</button>

@code {

    private void Start()
    {
        wowData.AddonDataChanged += (o, e) =>
        {
            base.InvokeAsync(() => StateHasChanged());
        };
    }

    private void ToggleBot()
    {
        botController.ToggleBotStatus();
    }
}
