<tr class="@ActionClass(this.IsSelected)">
    <td>
        <b style="color:@DisplayColour(action.CheckIfActionCanRun())">@action.CostOfPerformingAction: @action.Description()</b>
    </td>
    <td>
        @foreach (var item in this.action.State)
        {
            <span class="badge @Badge(item)">@item.Key</span>
        }
        @if (this.action.Keys.Count == 1 && this.action.GetType().Name != "GenericPullAction")
        {
            @foreach (var requirement in this.action.Keys[0].RequirementObjects)
            {
                @if (requirement.VisibleIfHasRequirement || !requirement.HasRequirement())
                {
                    <span class="badge @Badge(requirement.HasRequirement())">@requirement.LogMessage()</span>
                }
            }
        }
    </td>
</tr>
@if ((this.action.Keys.Count > 1 || this.action.GetType().Name == "GenericPullAction") && ShowKeys && (this.IsSelected || this.action.GetType().Name == "ParallelAction"))
{
    <tr>
        <td colspan="2">
            <table style="margin-left: 60px;">

                @if (this.action.Keys != null)
                {
                    var lastKeyClicked = Libs.KeyConfiguration.LastKeyClicked();

                    foreach (var key in this.action.Keys)
                    {
                        <tr class="@ActionClass(lastKeyClicked==key.ConsoleKey)">
                            <td>
                                <b style="color:@DisplayColour(key.CanRun())">@key.Name [@key.ConsoleKey]</b>
                            </td>
                            <td>
                                @foreach (var requirement in key.RequirementObjects)
                                {
                                    @if (requirement.VisibleIfHasRequirement || !requirement.HasRequirement())
                                    {
                                        <span class="badge @Badge(requirement.HasRequirement())">@requirement.LogMessage()</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
    </tr>
}

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public bool ShowKeys { get; set; } = false;

    [Parameter]
    public Libs.Actions.GoapAction action { get; set; } = new Libs.Actions.NullAction();

    public string Badge(KeyValuePair<string, bool> item)
    {
        return item.Value ? "badge-success" : "badge-danger";
    }

    public string Badge(bool value)
    {
        return value ? "badge-success" : "badge-danger";
    }

    public string ActionClass(bool item)
    {
        if (item == true)
        {
            return "table-success animate__animated animate__fadeIn";
        }

        return "table-default";
    }

    public string DisplayColour(bool item)
    {
        return item ? "black" : "gray";
    }
}