<tr class="@ActionClass(this.IsSelected)">
    <td><b style="color:@ActionColour(this.IsSelected)">@action.CostOfPerformingAction: @action.Name @action.Description()</b></td>
    <td>
        @foreach (var item in this.action.State)
        {
            <span class="badge   @Badge(item)">@item.Key</span>
        }
    </td>
</tr>

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public Libs.Actions.GoapAction action { get; set; } = new Libs.Actions.NullAction();

    public string Badge(KeyValuePair<string, bool> item)
    {
        return item.Value ? "badge-success" : "badge-danger";
    }

    public string ActionClass(bool item)
    {
        if (item == true)
        {
            return "table-success";
        }

        return "table-default";
    }

    public string ActionColour(bool item)
    {
        return action.CheckIfActionCanRun() ? "black" : "gray";
    }

}

