<tr class="@ActionClass(this.IsSelected)">
    <td><h5 style="color:@ActionColour(this.IsSelected)">@action.CostOfPerformingAction: @action.Name @action.Description()</h5></td>
    @foreach (var item in this.action.State)
    {
        <td style="color:@Colour(item)">@item.Key</td>
    }
</tr>

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public Libs.Actions.GoapAction action { get; set; } = new Libs.Actions.NullAction();

    public string Colour(KeyValuePair<string, bool> item)
    {
        return item.Value ? "green" : "red";
    }

    public string ActionClass(bool item)
    {
        if (item == true)
        {
            return "table-success";
        }

        return "table-default";
    }

    public string ActionColour(bool item)
    {
        return action.CheckIfActionCanRun() ? "black" : "gray";
    }

}

